html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background: #121212;
    box-shadow: 0 0 10px rgba(0,255,255,0.1);
}

h1 {
    color: #00bcd4;
    margin: 0;
}

/* Layout principal*/
main.container {
    padding: 1vw;
    display: block;
    min-height: auto;
}

.card {
    background-color: #2b2b2b;
    padding: 2vw;
    margin: 2vw auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
    text-align: center;
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    max-height: none;
    min-height: 20px;
    height: auto;
}

/* Titre des blocs */
h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;  
}



.card img {
    width: 100%;
    height: 45%;
    min-height: 150px;
    border: none;                   
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;                 
    background-color: transparent;
    object-fit: contain;
}


.flux-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.flux-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.flux-video img {
    min-height: 100px;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: contain; 
}

.flux-controle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.joystick {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.joystick .row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.joystick button {
    background-color: #00bcd4;
    border: none;
    color: black;
    font-size: 1.2vw;
    padding: 1vw 1.5vw;
    margin: 0.5vw;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.joystick button:hover {
    background-color: #0097a7;
}

.joystick .row button {
    margin: 0 50px;
}



.button-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.button-bar button,
.footer-buttons button {
    background-color: #00bcd4;
    color: black;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    margin-bottom: 20px;
}

.button-bar button:hover,
.footer-buttons button:hover {
    background-color: #0097a7;
}

/* Footer buttons -  bas de la page*/
.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    margin-bottom: 20px;
   
}


/* MODALES */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-content {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal-content h3 {
    color: #00bcd4;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.modal-content p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
    
}

@media (min-width: 2000px) {
   main.container {
    padding: 0.5vw;
   }
    
    .card{
     height: 40vh;
     font-size: 30px;
     
    }

    .joystick button {
     font-size: 1.2vw;
     padding: 0.5vw 0.7vw;
     margin: 0.5vw;
    }

    .joystick .row button {
    margin: 0 50px;
    }

    .flux-controle {
    font-size: 20px;
    }

    h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 20px;  
}

}

@media (max-width: 1450px) {
 
 header {
    padding: 10px;
 }


 .joystick button {
   font-size: 2vw;
   padding: 1vw 1.5vw;
 }


.joystick .row button {
    margin: 0 40px;
    }


    .footer-buttons button{
    font-size: 15px;
    }

  
    .button-bar button{
    font-size: 15px;
    }
}



@media (max-width: 1048px) {
 
 header {
    padding: 10px;
 }

 

 .joystick button {
   font-size: 2vw;
   padding: 1.5vw 2vw;
 }

.joystick .row button {
    margin: 0 35px;
    }


    .footer-buttons button{
    font-size: 15px;
    }

  
    .button-bar button{
    font-size: 15px;
    }
}

@media (max-width: 768px) {
 
 header {
    padding: 10px;
    font-size: 8px;
 }

  .flux-container {
    flex-direction: column;
  }

  .flux-video,
  .flux-controle {
    width: 100%;
    margin-bottom: 5px; 
    font-size: 15px
  }

 .joystick button {
   font-size: 2vw;
   padding: 2vw 2.5vw;
 }

.joystick .row button {
    margin: 0 35px;
    }


    .footer-buttons button{
    font-size: 12px;
    padding: 10px 15px;
    }

  
    .button-bar button{
    font-size: 12px;
    padding: 10px 15px;
    }

    h2 {
    font-size: 15px;    
    }
   
    
    
}




@media (max-width: 500px) {
 


 .joystick button {
   font-size: 4vw;
   padding: 4vw 4.5vw;
 }

.joystick .row button {
    margin: 0 35px;
    }



    .button-bar {
    gap: 10px 15px; 
   }
    
}

