<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>3D Mapper - Visualisation 3D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

    <!-- Titre du site -->
    <header>
        <h1>Plan 3D Mapper - Visualisation 3D</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </header>

    <!-- Partie centrale avec contenu visuel -->
    <main class="container">


        <!-- Affichage du flux vidéo -->

            <!-- Affichage du flux vidéo avec joystick à droite -->
        <section class="card flux-row">
            <h2>Flux Vidéo</h2>
            
            <div class="flux-container">
                
                <!-- Bloc Vidéo à gauche -->
                <div class="flux-video">
                <img src="/video" alt="Flux vidéo">
                </div>

                <!-- Joystick à droite -->
                <div class="flux-controle">
                <div class="joystick">
                    <div class="row">
                    <button 
                        onmousedown="sendCommand('up')" 
                        onmouseup="sendCommand('stop')" 
                        ontouchstart="sendCommand('up')" 
                        ontouchend="sendCommand('stop')">
                        ⬆️ </button>
                    </div>
                    <div class="row">
                    <button 
                        onmousedown="sendCommand('left')" 
                        onmouseup="sendCommand('stop')" 
                        ontouchstart="sendCommand('left')" 
                        ontouchend="sendCommand('stop')">
                        ⬅️ </button>
                     <button 
                        onmousedown="sendCommand('right')" 
                        onmouseup="sendCommand('stop')" 
                        ontouchstart="sendCommand('right')" 
                        ontouchend="sendCommand('stop')">
                        ➡️ </button>
                    </div>
                    <div class="row">
                     <button 
                        onmousedown="sendCommand('down')" 
                        onmouseup="sendCommand('stop')" 
                        ontouchstart="sendCommand('down')" 
                        ontouchend="sendCommand('stop')">
                        ⬇️ </button>
                    </div>
                </div>
                <p>Joystick de contrôle du robot</p>
                </div>
            </div>
        </section>

    </main>


    <div class="footer-buttons">
        <button onclick="openModal('modalProjet')">Projet</button>
        <button onclick="openModal('modalFonctionnement')">Comment ça marche ?</button>
    </div>

    <!-- Modales (popup d'infos) -->
    <div id="modalProjet" class="modal" onclick="closeModal(event, 'modalProjet')">
        <div class="modal-content">
            <span class="close" onclick="hide('modalProjet')">&times;</span>
            <h3>Présentation du Projet</h3>
            <p> 
                L'objectif de notre projet est de concevoir un système de vidéogrammétrie embarqué capable de générer en temps réel un nuage de points 3D à partir d'un flux vidéo. Ce nuage et le flux associé seront affichés à distance via un serveur web, hébergé sur un ordinateur distant.
                </p>
                <p>
                    Ce projet vise à proposer une alternative économique aux technologies comme le LiDAR, en utilisant des caméras standards et des algorithmes de traitement d’image avancés.
                </p>
                <p>
                  La solution est conçue pour être embarquée sur une plateforme mobile (robot, drone ou véhicule) et permettre la transmission  en direct des données 3D sur l'écran externe.
                </p>
        </div>
    </div>

    <div id="modalFonctionnement" class="modal" onclick="closeModal(event, 'modalFonctionnement')">
        <div class="modal-content">
            <span class="close" onclick="hide('modalFonctionnement')">&times;</span>
            <h3>Comment ça marche ?</h3>
                <p> 
                    Le système repose sur la vidéogrammétrie, une technique de reconstruction 3D basée sur l’analyse de flux vidéo en temps réel. En utilisant des algorithmes de traitement d’image avancés, il devient possible de reconstituer dynamiquement une scène en trois dimensions à partir de simples vidéos.
                </p>
                <p>
                    Les informations capturées par la caméra embarquée sont ensuite converties en nuage de points 3D et transmises en direct depuis un server web vers un ecran externe qui affiche le resultat 3D, offrant une visualisation immédiate et à distance.
                </p>
                <p>
                    Cette approche permet une réduction significative des coûts tout en conservant des résultats exploitables pour la modélisation 3D et la navigation autonome.
                </p>

        </div>
    </div>

    <!-- JS pour gérer les fenêtres popup -->
    <script>
        function openModal(id) {
            document.getElementById(id).style.display = 'flex';
        }

        function hide(id) {
            document.getElementById(id).style.display = 'none';
        }

        function closeModal(event, id) {
            if (event.target.className === 'modal') {
                hide(id);
            }
        }

        function sendCommand(direction) {
        fetch('/move', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ direction: direction })
        }).then(response => {
            if (response.ok) {
                console.log("Commande envoyée :", direction);
            } else {
                console.error("Erreur lors de l'envoi de la commande");
            }
        });
    }

    </script>

</body>


